/* Media query for devices with a maximum width of 767px */
@media only screen and (max-width: 767px) {
  .auctionlist-card {
    /* display: flex; */
    flex-direction: column;
    align-items: flex-start;

    margin-top: 25px;

    width: 100%;
    height: 600px;

    background: white;
    /* background: linear-gradient(to bottom left, #000000, #191c2f); */

    border-radius: 16px;
  }
}
