/* Media query for devices with a maximum width of 767px */
@media only screen and (max-width: 767px) {
  .metadataform {
    padding: 5px;
  }

  .child {
    margin: 10px;
  }

  .metadataname {
    /* color: yellow; */
  }

  .metadataform .child .form-control {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
  }

  .metadataform .child .form-control:focus {
    border-color: grey;
    box-shadow: none;
  }
  .metadataform input {
    /* display: none; */
    color: white;
    background-color: rgba(255, 255, 255, 0.09);
    border-radius: 12px;
  }

  .metadataform input:focus {
    /* display: none; */
    background-color: black;
    color: white;
    border-radius: 12px;
  }

  .metadataform .child .form-control::placeholder {
    color: #aaa;
  }
}
